@font-face {
  font-family: JosefinSans;
  src: url(JosefinSans-Regular.ttf);
}
.ProseMirror {
  background: var(--background);
  border: none;
  resize: none;
  font-size: 1.3em;
  padding: 25px 22px;
  margin: 0;
  font-family: JosefinSans;
  color: var(--text);
  overflow: auto;
  width: 100%;
  height: 100vh;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  caret-color: var(--text);
}

.terminal .ProseMirror {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 1.1rem;
}

.ProseMirror:focus {
  outline: none;
}

.tips {
  position: fixed;
  transform: translate(0%, -50%);
  top: 50%;
  right: 0;
  width: 30%;
  margin-right: 2rem;
  padding: 1rem;
  background-color: var(--background);
  border: 3px solid var(--primary);
  border-radius: 10px;
  animation: tips-pop-out 0.3s ease-out;
  -webkit-animation: tips-pop-out 0.3s ease-out;
  opacity: 0;

  .tips-content-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--text);
  }

  .tips-content-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--text);
  }
}

.tips.show {
  animation: tips-pop-in 0.3s ease-in;
  -webkit-animation: tips-pop-in 0.3s ease-in;
  opacity: 1;
}

br {
  display: block;
  margin: 10px 0;
}

hr {
  color: var(--primary);
}

kbd {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  margin: 0 0.2rem;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--secondary);
}

.shortcut {
  font-size: 1rem;
  margin: 0.6rem 0;
}

.actions {
  position: fixed;
  bottom: 5%;
  right: 0;
  align-items: center;
  animation: actions-pop-in 0.5s ease-in;
  -webkit-animation: actions-pop-in 0.5s ease-in;

  .actionsChild {
    width: fit-content;
    align-items: center;
    display: flex;
    padding-right: 5rem;

    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      font-weight: bold;
      transition: ease-in-out 0.4s;

      .discord,
      .ilios {
        width: 50px;
        height: 50px;
        opacity: 0.7;
      }

      .discord:hover {
        opacity: 1;
        .discordColor {
          fill: #5865f2;
        }
      }

      .iliosBackground {
        transition: ease-in-out 0.2s;
        fill: var(--background);
      }

      .ilios:hover {
        opacity: 1;
        .iliosPrimary {
          fill: #f4900c;
        }
        .iliosSecondary {
          fill: #ffac33;
        }
        .iliosTertiary {
          fill: #ffd983;
        }
      }

      .ilios:focus {
        outline: none;
      }
      .tooltip {
        color: var(--primary) !important;
        font-weight: 600 !important;
        font-family: Inter !important;
        outline-width: 4px !important;
        border-color: var(--primary) !important;
        border-radius: 10px !important;
      }
    }
  }

  .save {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: var(--scroll);
    color: var(--background);
    margin-left: 1rem;
    transition: ease-in-out 0.2s;
  }
  
  .save:disabled {
    animation: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .save:hover:not(:disabled) {
    padding: 0.7rem 1.2rem;
    cursor: pointer;
  }
}

.css-a84rxm-ItemComponent {
  background: var(--background) !important;
  border-bottom: 1px solid var(--background) !important;
  color: var(--text) !important;
}

.react-dropdown-select-item-selected {
  border-bottom: 1px solid var(--background) !important;
}
.css-6fdya8-DropDown, .css-4lcv49-DropDown, .css-1r2ipv2-DropDown, .css-14xf46-DropDown, .css-1ouyw62-DropDown, .css-1i7zmss-DropDown {
  border: none !important;
  background: var(--background) !important;
  color: var(--text) !important;
  box-shadow: 0 0 10px 0 var(--text) !important;
}
.css-a84rxm-ItemComponent:hover, .css-a84rxm-ItemComponent:focus {
  background: var(--backgroundDark) !important;
  color: var(--background) !important;
}
.css-g39zai-ReactDropdownSelect {
  color: var(--text) !important;
  border: 3px solid var(--backgroundDark) !important;
  border-radius: 10px !important;
}
@media screen and (max-width: 768px) {
  .shortcut {
    font-size: 0.8rem;
  }
  .ProseMirror {
    padding-bottom: 70px;
  }

  .tips {
    animation: none;
  }
  .actions {
    width: 100%;
    background-color: var(--background);
    bottom: 0;
    padding: 0.4rem;
    .actionsChild {
      padding-right: 0;
      padding-left: 0;
      margin: auto;

      .icons .discord, .icons .ilios{
        width: 40px;
        height: 40px;
      }

      .save {
        padding: 0.7rem 0.4rem;
        font-size: 0.9rem;
        margin-left: 0.4rem;
      }
    }
  }
  .tips.show {
    display: none;
  }
  .tips-content-text {
    font-size: 1rem;
  }
}

@-webkit-keyframes tips-pop-in {
  from {
    opacity: 0;
    right: -200px;
  }
  to {
    opacity: 1;
    right: 0px;
  }
}

@keyframes tips-pop-in {
  from {
    opacity: 0;
    right: -200px;
  }
  to {
    opacity: 1;
    right: 0px;
  }
}

@keyframes tips-pop-out {
  from {
    opacity: 1;
    right: 0px;
  }
  to {
    opacity: 0;
    right: -200px;
  }
}

@-webkit-keyframes tips-pop-out {
  from {
    opacity: 1;
    right: 0px;
  }
  to {
    opacity: 0;
    right: -200px;
  }
}

@keyframes actions-pop-in {
  from {
    opacity: 0;
    bottom: -200px;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}
@-webkit-keyframes actions-pop-in {
  from {
    opacity: 0;
    bottom: -200px;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}
