@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.medium-toolbar-arrow-under:after {
  border-color: var(--backgroundDark) transparent transparent transparent;
  top: 50px;
}

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent var(--backgroundDark) transparent;
  top: -8px;
}

.medium-editor-toolbar {
  background-color: var(--backgroundDark);
  border-radius: 5px;
}
.medium-editor-toolbar li button {
  background-color: var(--backgroundDark);
  border: 0;
  border-right: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
  color: var(--background);
  height: 50px;
  min-width: 50px;
}
.medium-editor-toolbar li button:hover {
  background-color: var(--primary);
}
.medium-editor-toolbar li .medium-editor-button-first {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.medium-editor-toolbar li .medium-editor-button-last {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.medium-editor-toolbar li .medium-editor-button-active {
  background-color: var(--backgroundDark);
  color: var(--background);
}

.medium-editor-toolbar-form {
  background: var(--secondary);
  border-radius: 5px;
  color: var(--text);
}
.medium-editor-toolbar-form .medium-editor-toolbar-input {
  background: var(--secondary);
  box-sizing: border-box;
  color: var(--secondary);
  height: 50px;
}
.medium-editor-toolbar-form a {
  color: var(--background);
}

.medium-editor-toolbar-anchor-preview {
  background: var(--secondary);
  border-radius: 5px;
  color: var(--background);
}

.medium-editor-placeholder:after {
  color: var(--placeholder);
}

.medium-editor-anchor-preview {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden;
  z-index: 2000;
}
.medium-editor-anchor-preview a {
  color: #fff;
  display: inline-block;
  margin: 5px 5px 10px;
}

.medium-editor-anchor-preview-active {
  visibility: visible;
}

.medium-editor-dragover {
  background: #ddd;
}

.medium-editor-placeholder {
  position: relative;
}
.medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  position: absolute;
  left: 0;
  top: 0;
  white-space: pre;
  padding: inherit;
  margin: inherit;
}

.medium-editor-placeholder-relative {
  position: relative;
}
.medium-editor-placeholder-relative:after {
  content: attr(data-placeholder) !important;
  position: relative;
  white-space: pre;
  padding: inherit;
  margin: inherit;
}

.medium-editor-toolbar {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2000;
}
.medium-editor-toolbar ul {
  margin: 0;
  padding: 0;
}
.medium-editor-toolbar li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.medium-editor-toolbar li button {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}
.medium-editor-toolbar li button:focus {
  outline: none;
}
.medium-editor-toolbar li .medium-editor-action-underline {
  text-decoration: underline;
}
.medium-editor-toolbar li .medium-editor-action-pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  font-weight: 100;
  padding: 15px 0;
}

.medium-editor-toolbar-active {
  visibility: visible;
}

.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px;
}

.medium-editor-relative-toolbar {
  position: relative;
}

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
  animation: medium-editor-pop-upwards 160ms forwards linear;
}

.medium-editor-action-bold {
  font-weight: bolder;
}

.medium-editor-action-italic {
  font-style: italic;
}

.medium-editor-toolbar-form {
  display: none;
}
.medium-editor-toolbar-form input,
.medium-editor-toolbar-form a {
  font-family: Inter, Helvetica, Arial, sans-serif;
}
.medium-editor-toolbar-form .medium-editor-toolbar-form-row {
  line-height: 14px;
  margin-left: 5px;
  padding-bottom: 5px;
}
.medium-editor-toolbar-form .medium-editor-toolbar-input,
.medium-editor-toolbar-form label {
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 6px;
  width: 316px;
  display: inline-block;
}
.medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
.medium-editor-toolbar-form label:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  outline: 0;
}
.medium-editor-toolbar-form a {
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 10px;
  text-decoration: none;
}

.medium-editor-toolbar-form-active {
  display: block;
}

.medium-editor-toolbar-actions:after {
  clear: both;
  content: "";
  display: table;
}

.medium-editor-element {
  word-wrap: break-word;
  min-height: 30px;
}
.medium-editor-element img {
  max-width: 100%;
}
.medium-editor-element sub {
  vertical-align: sub;
}
.medium-editor-element sup {
  vertical-align: super;
}

.medium-editor-hidden {
  display: none;
}
