@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: block;
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #9c83ff;
  color: var(--background);
}

:root {
  --background: #fff;
  --text: #8898aa;
  --placeholder: #cacaca;
  --primary: #afafaf; 
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 3px solid var(--primary);
}