@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: block;
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  overflow: hidden
}

* {
  box-sizing: border-box;
}

::selection {
  background: #9c83ff;
  color: var(--background);
}

:root {
  --background: #fff;
  --backgroundDark: #838383;
  --text: #8898aa;
  --placeholder: #cacaca;
  --primary: #afafaf; 
  --scroll: #b09dff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-clip: padding-box;
}