.react-tabs {
  -webkit-tap-highlight-color: transparent;
  display: flex;
}

.react-tabs__tab-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.tab-list {
  border-left: 4px solid var(--primary);
  padding-left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
}
.react-tabs__tab {
  transition: ease-in-out 0.2s;
  display: flex;
  align-items: center;
  border: 3px solid transparent;
  list-style: none;
  padding: 3px 5px 3px 0;
  cursor: pointer;
  color: var(--primary);
}

.tab-text {
  display: block;
  padding: 0 5px;
}

.close-tab-button {
  transition: ease-in-out 0.3s;
  background: none;
  outline: none;
  height: 100%;
  border: none;
  padding: 0;
}
.close-tab {
  color: var(--danger);
  height: 20px;
  width: 20px;
  margin: 0 auto;
}

.react-tabs__tab--selected {
  transition: ease-in-out 0.3s;
  background: var(--primary);
  color: var(--background);
  margin: 10px 0;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab--selected:focus .close-tab-button {
  display: none;
}
.react-tabs__tab--selected:focus .rename-tab {
  display: block;
}

.react-tabs__tab:hover:not(.react-tabs__tab--selected) {
  background: var(--secondary);
  color: var(--background);
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  left: -4px;
  bottom: -5px;
  background: var(--background);
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  width: 100%;
}

.add-tab {
  transition: ease-in-out 0.2s;
  background: var(--background);
  color: var(--primary);
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.add-tab:hover {
  color: var(--backgroundDark);
}

.add-tab:active {
  color: var(--scroll);
}