.react-tabs {
    -webkit-tap-highlight-color: transparent;
    display: flex;
  }
  
  .react-tabs__tab-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .tab-list {
    border-left: 4px solid var(--primary);
    padding-left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
  }
  .react-tabs__tab {
    transition: ease-in-out 0.2s;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid transparent;
    list-style: none;
    padding: 3px 5px 3px 0;
    cursor: pointer;
    color: var(--primary);
  }
  .react-tabs__tab--selected {
    transition: ease-in-out 0.3s;
    background: var(--backgroundDark);
    color: var(--background);
    margin: 10px 0;
  }
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
  }

  .react-tabs__tab:hover {
    background: var(--primary);
    color: var(--background);
  }

  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    left: -4px;
    bottom: -5px;
    background: var(--background);
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
    width: 100%;
  }
  
  .tab-text {
    display: block;
    padding: 0 5px;
    justify-content: start;
  }